
html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}

body{
	height:100%;
	min-height: 100%;
	background-color: #F4EDC2;
	font: 15px/1.5/Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	
}
.colored2{
	background-color:#49198b;
	color:white;
}


/*General Code*/

.container{
	width:80%;
	margin:auto;
}
ul{
	margin:0;
	padding:0;
	
}
/*Header*/
header{
	background-color:  #49198b;
	color: white;
	padding-top: 5px;
	padding-bottom:0px;
	min-height: 70px;
	border-bottom: #800020 5px solid;
}
header a{
	color:white;
	text-decoration: none;
	text-transform: uppercase;
	font-size:16px;
}

header a:hover{
	color: #cccccc;
	font-weight:bold;
}

header li{
	
	display:inline;
	padding: 0 15px 0 15px;
}
header #logo{
	float:left;
	margin-top: -45px;
	font-size: 30px;
	color:#800020;
	font-family: 'Black Ops One', cursive;
}
header nav{
	float:right;
	margin-top: 15px;
}
header .highlight, header .current a{
	color:#800020; 
}

header #home{
	margin-top: 20px;
	height:30px;
	width:30px;
}

/*SHowcase*/

#imgContainer{
	margin-top: -50px;
	min-height: 500px;
	background: url('./img/banner3.png') no-repeat 0 -400px;
	text-align: center;
	border-bottom: #800020 5px solid;
	
}
#bookingContainer{
	margin-top: -50px;
	min-height: 500px;
	text-align: center;
	border-bottom: #800020 5px solid;
	background: url('./img/booking.png') no-repeat 0 -200px;
}
#serviceContainer{
	margin-top: -50px;
	min-height: 500px;
	text-align: center;
	border-bottom: #800020 5px solid;
	background: url('./img/raincar.png') no-repeat 0 -200px;
	width: 100%;
}
#directionsContainer{
	margin-top: -50px;
	min-height: 500px;
	text-align: center;
	border-bottom: #800020 5px solid;
	background: url('./img/mobile.png') no-repeat 0 -200px;
	width: 100%;
}
#contactContainer{
	margin-top: -50px;
	min-height: 500px;
	text-align: center;
	border-bottom: #800020 5px solid;
	background: url('./img/contact.jpeg') no-repeat 0 -200px;
	width: 100%;
}
}
h2{
	color:#800020;
}
h2 a{
	color:#800020;
}
.container h2{
	padding-top: 150px;
	font-size:60px;
	font-style:italic;
	
	float:none;
	font-family: 'Black Ops One', cursive;
	text-shadow: 2px 2px #49198b;
	background-color: transparent;
	color:#800020;
}
.container #underhero{
	font-size: 25px;
	color:white;
}
/*Boxes*/
#startBoxes{
	margin-top: 30px;
	margin-bottom: 100px;
}
#startBoxes .sBox{
	float:left;
	width: 30%;
	padding:10px;
	text-align: center;
}
#startBoxes .sBox img{
	width: 50%;
}

/*footer*/
footer{
	width: 100%;
	height: 15%;
	float:none;
	color: white;
	background-color: #800020;
	padding-top: 3px;
}
footer p{
	padding-left: 20px;
	color: white;
}
footer a{
	color: white
}
footer a:visited{
	color: white;
}
footer a:hover{
	font-weight:bold;
}

/*BOOKING*/
#bookingMain{
	margin-top: 30px;
	width:100%
}
.box{
	
	float:left;
	width: 30%;
	padding:10px;
	text-align: center;
}

#bookingSet{
	margin-top: 20px;
	width: 35%;
	height: 40%;
	border-color:#800020;
	border-width: 3px;
}
#bookingform p{
	float:left;
	font: 20px;
	color: black;
	font-weight:bold;
}
.container #booklegend{
	color: white;
	font-size:23px;
	background-color:#49198b;
}
.box #calendar{
	margin-top: 25px; 
	width:100%;
	height:300px;
	
	 
}
.box h3{
	font-size:25px;
	font-weight:bold;
}
.box p{
	font-size:18px;
	font-weight:bold;
	padding: 0px 5px 5px 5px;
}
.box .colored{
	margin-right: 20px;
	
}
.colored{
	background-color: rgb(73, 25, 139,1.0);
	color: white;
	
}
.colored a{
	color: white;
	
}

/*DIRECTIONS*/

#directionsMain ul, li, li a{
	list-style-type: none;
	
}
#directionsMain{
	float: left;
	width: 50%;
	height:100%; 
}
#directionsMain .colored{
	padding-left: 20px;
}
#directionsMain #text3top{
	margin:0px 0px 0px 0px;
	padding-top:10px;
	font-size: 20px;
}
#directionsMain #map{
	width: 80%;
	height:40vh;
	text-align: center;
	margin-left:10%;
}
#directionsMain .colored .text3{ 
	margin: 0px 0px 0px 0px;
	text-align:center;
	padding: 10px 10px 10px 0px;
	font-size:18px
}
#directionsMain .colored .maplist{
	font-size: 18px;
	text-align:center;
	padding: 10px 10px 10px 0px;
}

.imgSwitcher{

	width:48%;
	height: 98%;
	padding:1% 1% 1% 1% ;
	float:right;
	background-color:  #49198b;

}
.imgSwitcher #imgSlide{
	width:100%;
	height:100%;

}
	
/*CONTACT*/
#contactMain{
	padding:1% 1% 1% 1%;
	width: 100%;	
	height: 100%;
	float: left;
}
#text4top{
	margin: 0; 
	font-weight:bold;
	font-size: 35px;
}
.contactFirst{
	width: 20%;
	float: left;
}
.openHours{
	font-size: 20px;
	font-weight:bold;
	text-align:center;
	
}
.contactTable{
	float:left;
	height:70%;
	text-align:center;
}
.contactTable th{
	font-size: 22px;
}
.contactTable, .contactTable th, .contactTable tr, .contactTable td {
	border-collapse: collapse;
	border: 5px #800020 solid;
}
[class="fas fa-phone"], [class="fas fa-envelope"],[class="fas fa-mobile-alt"], [class="fas fa-map-marker-alt"] {
	color: #800020;
	font-size:22px;
}
.tableP{
	text-align: left;
	padding-left: 5px;
	font-weight: bold;
	padding-left: 5px;
}
.contactBox{
	background-color:#49198b;
	color: white;
	margin: 0% 2%;
	float:left;
	border: 5px #800020 solid;
	width: 20%;
	padding:10px;
	text-align: center;
	max-height: 80%
}
.contactBox a{
	color:white;
}
.contactBox img{
	width: 100%;
	max-height: 300px;
	object-fit:cover;
}

/*SILDESHOWfailed*//*
.slideshow{
	width:50%;
	height: 100%;
	background-color: #800020;
	float:right;
	text-align:center;
	overflow:hidden;
	
}
.slideshow-img{
	width:150%;
	height:60%;
	background-color:darkblue;
	clear:both;
	position:relative;
	
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
	-o-transition: left 2s;
	transition: left 2;
}
.slide{
	float:left;
	margin:0px;
	padding:0px;
	position:relative;
}

#imageSlide-1:target ~ .slideshow-img{
	left: 0px;
}
#imageSlide-2:target ~ .slideshow-img{
	left:-50vh;
}
#imageSlide-3:target ~ .slideshow-img{
	left:-100vh
}
.slideshow-button{
	position: relative;
	top:-3vh;
}
.change{
	display:inline-block;
	height:1.5vh;
	width:1.5vw;
	background-color:brown;
}
<HTML>
<div id="slideshow">
			<span id="imageSlide-1"></span>
			<span id="imageSlide-2"></span>
			<span id="imageSlide-3"></span>
			<div class="slideshow-img">
			
				<img src="./img/slide1.png" alt="slide1"  class="slide"/>
				<img src="./img/slide2.png" alt="slide2"  class="slide"/>
				<img src="./img/slide3.png" alt="slide3" class="slide">
			</div>
			<div class="slideshow-button">
				<a href="#imageSlide-1" class="change"/>
				<a href="#imageSlide-2" class="change"/>
				<a href="#imageSlide-3" class="change"/>
			</div>
		</div>

*/

/*SERVICE*/
@media(max-width: 1000px){
	/*HEADER CHANGE*/
	#header{
		max-height:90px;
	}
	#logo h1{
		padding:0px;
		margin: 0px;
		font-size:55px;
	}
	header .container nav{
		padding-top:0px;
		margin-top: -20px;
		
	}
	header .container{
		width:100%;
	}
	header #logo,header nav, header ul, header li{
		
		margin:0px;
		float:none;
		text-align:center;
		width:100%
		
	}
	/*MAIN CHANGE*/
	
	#startBoxes, #startBoxes .sBox{
		
		margin-bottom:0px;
		float:none;
		text-align:center;
		width:100%	
	}
	/*BOOKING CHANGE*/
	#bookingMain,#bookingMain .box,#bookingMain .colored,
	#bookingMain #calendar{
		margin: 0px 3px 0px 3px;
		margin-bottom:0px;
		float:none;
		text-align:center;
		width:100%	
	}
	#bookingMain .container .box #bookingform,#bookingMain #bookingSet{
		
		margin: 0% 24%;
		padding: 0px;
		width:35%;
		float:none;
		text-align:center;
		font-size: 16px;
		margin-right:0px;
		vertical-align: 50%;
	}
	
	
}

/*#800020
  #49198b*/