

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width:100%;
    overflow-x: hidden;
}
body{
    background-color: #F4EDC2;
}
/*HEADER*/
header{
    width:100%;
    height: 91px;
    color:white;
    background-color:#49198b;
    border-bottom: #800020 3px solid;
}
header h2{
    margin:0px;
    font-size: 35px;
    font-family: 'Black Ops One', cursive;
    color:#800020;
    text-shadow: #ffffff 2px 2px;
    padding: 5px;
}
header:hover h2{ /*ANIMATION*/
    animation-name: shadow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes shadow {
    0%{text-shadow: white 2px 2px }
    50%{
        text-shadow: DarkTurquoise  2px 2px; 
        color: deeppink;
    }

    100%{
        text-shadow: deeppink 2px 2px; 
        color: darkturquoise;
    }
}

header nav{
    font-family: 'Raleway', sans-serif;
    
    display:flex;
    float:right;
    flex:nowrap;
    flex-direction: row;
    margin-right: 20px;
}
nav > div{
    padding: 10px;
    margin: 0 auto;
    margin-left:5px;
    font-size: 18px;
}
nav div a:link{
    color:white;
    text-decoration: none;
}
nav div a:hover{
    font-weight: bold;
}
nav div a:visited{
    color:white;
}
nav div a.current{
color:#B6E674;    
} 
/*SECTION*/
section{
    width:100%;
    min-height:450px;
    
    margin: 0 auto;
    text-align: center;
    border-bottom: #800020 5px solid;
    
}

section[id="indexSection"]{
    background: url(./images/banner3.png) no-repeat 0 -400px;
}
section[id="bookingSection"]{
    background: url(./images/booking.png) no-repeat 0 -250px;
}
section[id="serviceSection"]{
    background: url(./images/service.jpeg) no-repeat 0 -200px;
}

section[id="directionsSection"]{
    background: url(./images/mobile.png) no-repeat 0 -200px;
}

section[id="contactSection"]{
    background: url(./images/contact.jpeg) no-repeat 0 -200px;
    
}
section[id="infoSection"]{
    background: url(./images/case.jpg) no-repeat 0 -200px;

    
}

section h1{
    font-family: 'Black Ops One', cursive;
    color:#800020;
    text-shadow: #ffffff 2px 2px;
    font-size: 68px;
    margin-top:0px;
    padding-top: 150px;
}
section p{
    position: relative;
    margin: 0 auto;
    font-family: 'Black Ops One', cursive;
    font-size: 25px;
    width:35%;
    color:#ffffff;
    text-shadow: #800020 2px 2px;
    margin-bottom: 20px;
    
}
/*ARTICLE*/
article :not(serviceArticle, .directionsArticle){
    margin:20px 0px 10px 35px;
    width:100%;
    
    max-height:250%;
    text-align: center; 
}
article p{
    font-size: 18px;
}
article .container :not(#serviceArticle){
    margin:0 auto;
    font-family: 'Montserrat', sans-serif;
}
.box{
    float:left;
    width: 30%;
    padding:10px;
    margin:0 auto;
	text-align: center;
}
.box img{
    width:30%;
}

/*BOOKING ARTICLE*/
header nav[id="bookNav"]{
    margin-bottom: 1%;
}
#bookingArticle{
    
    margin-left: 5%;
    width:100%;
    min-height: 60%;
    max-height:250%;
    text-align: center;
    margin-top: 20px;
}
#bookingform{
    margin-bottom: 5px;
}
#bookingSet{
    border: #49198b 3px solid;
     margin-bottom: 5px;     
}
#bookingform :not(input.radio) input{
    width:80%;
    
}
#bookingSet #booklegend{
    background-color: #49198b;
    text-shadow: white 2px 2px; 
}
#bookingform input.radio{
   clear: both;
    width:10%;
    float:left;
    margin: 0 auto;
    text-align: none;
}
article input{
    width: auto;

}
article input:focus {
    background-color: rgb(73, 25, 139,0.8);
    color:white;
}


.box[title="calendarbox"]{
    width:30%;
    
    position: relative;
    height: calc(100vh - 120px);
    overflow:hidden; 
}
.box #calendar{
    position: absolute;
    width:100%;
    top:0;
    left:0;
    height:64%;
    border-width:0;
      
}
.box[title="colored"]{
    background-color: #49198b;
    color: #ffffff;
    text-shadow: #000 2px 2px;
    margin-bottom: 10px;
    margin-right: 20px;
    
}

.box[title="colored"] li{
    text-align: left;
}

.box[title="colored"] li:first-child{
    color:#CD7F32;
}

.box[title="colored"] li:nth-child(2){
    color:silver;
}

.box[title="colored"] li:nth-child(3){
    color:gold;
    list-style-image: url('./images/gold.png');
}
.box[title="colored"] li:nth-child(4){
    color:rgb(0, 219, 248);
    list-style-image: url('./images/diamond.png');
}
footer{
    clear:both;
}
/*SERVICE*/
#serviceArticle{
    clear: both;
    margin: 0 20px 0 10px;
    float: left;
    width:48%;
    text-align: left;
    max-height:250%;
    font-family: 'Montserrat', sans-serif;
    
}
#serviceArticle h3{
    font-size: 25px;
    margin: 10px 0px 10px 10px;
    font-weight: bold;
}
#serviceArticle .hbox{
    float:left;
    margin:20px 0px 10px 20px;
    width:100%;
    text-align: left;
    max-height: 250%;
    margin:10px 0px;
   
}
.hbox p, .hbox h4{
    text-align: left;
    margin-left: 10px;

}
.hbox h4{
    font-weight: bold;
    font-size: 20px;
    padding:20px 0px 20px 10px;
}
.hbox img{
    float:left;
     width:15%;
     border: #49198b 3px solid;
}
.hbox div{
    float:left;
    padding-left: 10px;
    width:70%;
}

.serviceImg{
    margin-top:80px;
    width: 47%;
    margin-right: 10px;
    float: right;
    
}
.serviceImg img{
    width: 100%;
    height:100%;
    border-radius: 5%;
}
/*DIRECTIONS*/
.colored{
    background-color: #49198b;
    color:white;
}
.directionsArticle{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    
}
.directionsArticle{
    clear: both;
    margin: 0 auto;
    width:80%;
    text-align: center;
    

}
#directionsMain h4{
    font-size: 20px;
}
#directionsMain h4, #directionsMain #map, #directionsMain ul
#directionsMain p{
    margin: 0px;
    padding: 0%;
    margin: 0 auto;
    width: 80%;
}
#directionsMain #map{
    height:200px;
}
#directionsMain ul{
    list-style-type: none;
}
#directionsMain li{
    padding:5px 0px;
}
#directionsMain li a:link{
    color:white;
}
#directionsMain li a:hover{
    color:white;
    text-decoration: underline;
}
#directionsMain li a:visited{
    color:white;
}
.imgSwitcher{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.imgSwitcher img{
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;

}
/*Contact*/
.contactArt{
    margin:0 auto;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    max-height:250%;
    text-align: center;
}
.contactArt .contactTable{
    width:30%;
    margin: 0 auto;
    background-color: #49198b;
    color: white;
    justify-content: center;
    border-radius: 5%;
}
.contactTable a:link,.contactTable a:visited{
    color:white;
    text-decoration: none;

}
.contactTable a:hover{
    font-weight: bold;
    color:white;
    text-decoration: underline;
}
.contactTable tr td:hover .fas.fa-envelope {
    animation: floatU 1s ease 0s infinite alternate;
    color:red;
}
    @keyframes floatU{
        0%{margin-bottom: initial }
        50%{top: 5px; left:0}
        100%{margin-bottom: initial}
    }

#cBoxes{
    margin: 20px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
#cBoxes .contactBox{
    
    margin: 0px 20px;
    width: 25%;
}
#cBoxes .contactBox img{
    padding-top: 0px; 
    width: 70%;
    border-radius: 100%;
    box-shadow: 0px 5px 5px 1px #800020  ;
}
#cBoxes .contactBox img:hover{
    animation: cBoxA 1s linear 0s infinite alternate;
}
@keyframes cBoxA{
    0%{
        box-shadow: 0px 5px 5px 1px #800020;
        transform: scale(1.0);
        
    }
    50%{
        box-shadow: 0px 5px 5px 1px #49198b;
        transform: scale(1.025);
        
    }
    100%{
        box-shadow: 0px 5px 5px 1px #800020;
        transform: scale(1.05);
        
    }
}
/*INFO*/
.infoArt{
    margin:0 auto;
    width:75%;
    line-height: normal;
}
.infoArt p{
    margin: 0;
    padding: 0;
}
.infoArt p[id="blue"]{
    color: #49198b;
}
.infoArt #red{
    color: #800020;
}
.infoArt #beige{
    color: #F4EDC2;
    background-color: #000;
    width:150px;
}
.infoArt #rale{
    font-family: 'Raleway', sans-serif, italic;
    font-style: italic;
}
.infoArt #black{
    font-family: 'Black Ops One', cursive;
    color: #800020;
    text-shadow: #ffffff 1px 1px;
    
}
.infoArt #mon{
    font-family: 'Montserrat', sans-serif;
    
}


/*FOOTER*/
body footer{
    overflow: hidden;
    min-height: 10%;
    width:100%;
    color:white;
    background-color: #800020;
}
footer p{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}
footer a:link{
    color:white;
    text-decoration: none;
}
footer a:hover{
    color:white;
    font-weight: bold;
    text-decoration: underline;
}
footer p{
    margin:8px 0px 8px 10px
}

footer a:visited{
    color:white;
}
@media(max-width: 899px){
/*HEADER CHANGE*/
header, header h2, header nav{
    margin:0 auto;
	float:none;
	text-align:center;
    width:100%	
}


header nav{
    margin-bottom: 20px;
}
/*SECTION CHANGE*/
section h1{
    padding-top: 80px;
}
/*ARTICLE and FOOTER*/

article, article .containe, .box,footer{
    margin:0 auto;
	float:none;
	text-align:center;
    width:100%
}
article{
    width:90%;
    margin-right: 80px;
}
/*BOOKING*/
#bookingArticle{
    margin-left:0;
}
.box[title="calendarbox"]{
    width:100%;
    margin:0px;
}
#bookingform :not(input.radio) input{
    width:70%
}

/*SERVICE*/
#serviceArticle .hbox p{
    font-size: 16px;
}
.serviceImg, #serviceArticle {
    float:left;
    width: 100%;
}
.serviceImg{
    margin-top:20px;
}
/*CONTACT CHANGE*/
.contactArt p{
    font-size: 14px;

}

}
@media (max-width: 450px){
    header{
        height: 15%;

    }
}
/*COLORS USED
    #49198b - Darkblue
    #800020 - wine
    #F4EDC2 - beige

    Fonts used
    Raleway - menu
    Black ops one - Head
    Montserrat - paragraph
*/